.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/index.html
**/*.map
**/*.ts
client/config/**
client/src/**
client/node_modules/**